<%- include ('templates/header.ejs', {
    titulo: "Nuestras Instalaciones",
    descripcion: "Esta es la descripción sobre las instalaciones"
}) %>
<%- include ('templates/nav.ejs') %>


<main>
    <h1>Instalaciones</h1>
    <p class="pMain">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, quasi, velit illum consectetur dolor neque ipsa amet officia dicta adipisci magnam nam sapiente. Corporis tempore iste dignissimos dolorum doloremque nihil sapiente voluptatum animi consequuntur earum, totam eveniet. Dicta assumenda accusantium dolore, dolor iste delectus magni adipisci consequuntur doloremque. Impedit at cum, labore inventore quos magni minima esse! Nemo minima sit nesciunt, optio, saepe fugit dolores sapiente ducimus iste nostrum quod porro tempore impedit et voluptatem unde doloremque eveniet adipisci eius beatae debitis repudiandae, distinctio ea doloribus! Impedit soluta culpa, maxime mollitia, libero pariatur doloremque, optio sunt quaerat repellendus fugiat aperiam.</p>

    <div class="flexContainer">
        <% instalaciones.forEach(element => { %>
            <article>
                <h2>
                    <%=element.nombre%>
                </h2>
                <div>
                    <img src="/assets/<%=element.url%>" alt="<%=element.alt%>">
                </div>
                <p><%=element.descripcion%></p>
            </article>
         
        <% }) %>
    </div>

</main>

<%- include ('templates/footer.ejs') %>∫∫